@import "tailwindcss";

@theme {
  --color-primary: #59f20d;
  --color-background-dark: #0a0c0a;
  --color-surface-dark: #161b14;
  --color-border-dark: #2a3624;
  --color-accent-gray: #94a3b8;

  --color-dark-bg: #0a0c0a;
  --color-dark-card: #161b14;
  --color-dark-border: #2a3624;

  --font-lexend: "Lexend", sans-serif;
  --font-display: "Lexend", sans-serif;
  --font-sans: "Lexend", sans-serif;
}

@utility form-input-dark {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid var(--color-border-dark);
  border-radius: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: white;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: #6e8a60;
  }
}

/* Material Symbols classes */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.filled-icon {
  font-variation-settings: 'FILL' 1;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050a05;
}

::-webkit-scrollbar-thumb {
  background: #1f291f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0df20d;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
  font-family: var(--font-lexend);
}

/* Hide scrollbar utility */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}