@import "tailwindcss";

@theme {
  --color-primary: #0df20d;
  --color-background-dark: #050a05;
  --color-surface-dark: #121812;
  --color-border-dark: #1f291f;

  --color-dark-bg: #121212;
  --color-dark-card: #1E1E1E;
  --color-dark-border: #2E2E2E;

  --font-lexend: Lexend, sans-serif;
  --font-sans: Lexend, sans-serif;
}

/* Material Symbols classes */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.filled-icon {
  font-variation-settings: 'FILL' 1;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050a05;
}

::-webkit-scrollbar-thumb {
  background: #1f291f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0df20d;
}

body {
  background-color: var(--color-dark-bg);
  color: white;
  font-family: var(--font-lexend);
}

/* Hide scrollbar utility */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}